@import '../../styles/utils/colors.scss';

.feed-nav-bar {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: feedNavBar;
  background-color: $feed-background;

  @media (min-width: 1000px) {
  }

  &__buttons {
    width: 165px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 34px;
    margin-left: 15px;

    @media (min-width: 1000px) {
      margin-left: 35px;
    }

    &-item {
      text-align: left;
      width: 75px;
      height: 21px;
      background-color: transparent;
      border: none;
      font-style: normal;
      font-weight: bold;
      font-size: 17.6px;
      line-height: 21px;
      color: $feed-nav-bar-unselected;
      cursor: pointer;
      padding: 0;
    }
  }

  &__filter {
    margin-top: 35px;
    margin-right: 17px;

    @media (min-width: 1000px) {
      margin-right: 37px;
    }

    &-item {
      width: 21px;
      height: 21px;
      color: $feed-nav-bar-unselected;
      cursor: pointer;

      @media (min-width: 1000px) {
        display: none;
      }
    }

    &-text {
      align-items: center;
      margin-right: 10px;
      display: none;

      @media (min-width: 1000px) {
        display: flex;
      }

      &-first {
        margin-right: 11px;
        color: $post-title;
        font-size: 14.72px;
      }

      &-second {
        display: flex;
        align-items: center;
        font-size: 17.6px;
        font-weight: bold;

        &-icon {
          margin-left: 14px;
          margin-top: 5px;
        }
      }
    }
  }
}

.active {
  color: $feed-nav-bar-selected;
}
