body {
  margin: 0;
}

.App {
  width: 100%;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 55px 1fr;
  grid-template-areas:
    'mobileHeader'
    'feed';
}
