@import '../../styles/utils/colors.scss';

.post-head {
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $feed-background;
    height: 54px;

    @media (min-width: 1000px) {
      height: 44px;
    }

    &-category {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 13px;

      @media (min-width: 1000px) {
        flex-direction: row;
        margin-left: 29px;
      }

      &-feed {
        font-weight: bold;
        font-size: 12.8px;
        color: $brand-blue;
        margin-bottom: 3px;

        @media (min-width: 1000px) {
          font-size: 17.6px;
        }

        &-icon {
          height: 18px;
          width: 18px;
          position: relative;
          top: 4px;
          margin-right: 1px;

          @media (min-width: 1000px) {
            top: 2px;
            margin-right: 4px;
          }
        }
      }

      &-icon {
        display: none;

        @media (min-width: 1000px) {
          display: block;
          width: 25px;
          height: 25px;
          color: #99b2d3;
        }
      }

      &-subfeed {
        font-weight: bold;
        font-size: 16px;
        color: #7598c4;

        @media (min-width: 1000px) {
          margin-top: 3px;
        }
      }
    }

    &-time {
      display: flex;
      align-items: center;
      margin-right: 12px;

      @media (min-width: 1000px) {
        margin-right: 28px;
      }

      &-icon {
        margin-right: 5px;
        width: 15px;
        height: 15px;
        color: $feed-nav-bar-unselected;
      }

      &-date {
        font-size: 12.8px;
        color: #49494f;
      }
    }
  }

  &__title {
    background-color: $post-card-background;

    &-author {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      font-size: 12.8px;
      color: $post-author-font;
      padding-left: 13px;
      padding-top: 13px;
      width: 171px;

      @media (min-width: 1000px) {
        padding-left: 93px;
      }

      &-name {
        width: 88px;
        height: 21px;
      }

      &-separator {
        height: 16px;
        width: 1px;
        background-color: $post-author-font;
        position: relative;
        bottom: 2px;
      }

      &-company {
        width: 70px;
        height: 21px;
      }
    }

    &-enun {
      display: flex;

      &__image {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-left: 13px;
        margin-top: 2px;
        margin-right: 12px;
        margin-bottom: 18px;

        @media (min-width: 1000px) {
          width: 50px;
          height: 50px;
          margin-top: -18px;
          margin-left: 30px;
        }

        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;

          @media (min-width: 1000px) {
            width: 50px;
            height: 50px;
          }
        }
      }

      &__title {
        width: 78%;
        font-weight: bold;
        font-size: 17.6px;
        color: $post-title;
        margin-bottom: 9px;
      }
    }
  }
}

.post-separator {
  width: 100%;
  height: 1px;
  background-color: $feed-background;
}

.post-body {
  font-weight: 300;
  font-size: 14.72px;
  background-color: $post-card-background;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    width: 89.45%;
    margin-top: 18px;
    margin-bottom: 7px;
  }

  &__img {
    width: 89.45%;
  }
}

.post-options {
  width: 100%;
  height: 53px;
  background-color: $post-card-background;

  &__like {
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    margin-left: 17px;
    margin-right: 39px;
    font-size: 16px;
    color: $post-title;
    padding: 0;
    width: 76px;

    @media (min-width: 1000px) {
      margin-left: 30px;
    }

    &-icon {
      margin-right: 5px;
      width: 21px;
      height: 17px;
      position: relative;
      top: 2px;
    }
  }

  &__like:hover {
    color: $liked;
  }

  &__save {
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    margin-right: 53px;
    font-size: 16px;
    color: $post-title;
    padding: 0;
    width: 76px;

    &-icon {
      margin-right: 5px;
      width: 21px;
      height: 17px;
      position: relative;
      top: 2px;
    }
  }

  &__save:hover {
    color: $saved;
  }

  &__menu {
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    color: $post-title;
    position: relative;
    width: 35px;
    height: 35px;
    padding: 0;

    &-icon {
      position: relative;
      width: 17px;
      height: 17px;
      top: 1px;
    }
  }

  &__menu:hover {
    background-color: $feed-background;
  }
}

.liked {
  color: $liked;
}

.saved {
  color: $saved;
}

.ddOptions,
.ddForm {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto auto;
  background-color: $post-card-background;
  border: 1px solid $post-card-border;
  box-sizing: border-box;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
  z-index: 99;
}

.ddOptions {
  width: 190px;
  height: 98px;

  @media (min-width: 1000px) {
    position: absolute;
    margin: 0;
    bottom: -91px;
    left: 257px;
    right: unset;
    top: unset;
  }
}

.ddForm {
  width: 290px;
  height: 406px;

  @media (min-width: 1000px) {
    position: absolute;
    margin: 0;
    bottom: -400px;
    left: 257px;
    right: unset;
    top: unset;
  }
}
